<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59655052189-i4srrvsiun8arn67qu2rlan3l98hi9b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59655052189-i4srrvsiun8arn67qu2rlan3l98hi9b7</string>
	<key>API_KEY</key>
	<string>AIzaSyDFilzbAj_JQyCf6qybuDPEiR9aG5R8hT0</string>
	<key>GCM_SENDER_ID</key>
	<string>59655052189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobileIG4.PolyCook</string>
	<key>PROJECT_ID</key>
	<string>test-364b6</string>
	<key>STORAGE_BUCKET</key>
	<string>test-364b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59655052189:ios:c57140998bfa27e636ed74</string>
</dict>
</plist>